@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Aldrich&display=swap');

* {
    margin: 0;
    padding: 0;
    background-color: transparent;
}

body {
    background-image: url("../assets/bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
    height: 100vh;

    object-fit: contain;
    overflow-x: hidden;
    
}

nav {
    background-color: rgba(0, 0, 0, 0.3);
    width: 100%;
    height: 80px;
}

.nav-list {
    position: absolute;
    right: 100px;
    top: 30px;
}

.nav-list li {
    padding: 20px;
    display: inline;
}

.nav-list a {
    color: white;
    text-decoration: none;
    text-align: center;
    font-family: "Inter";
    font-weight: 400;
    font-size: 18px;
    text-shadow: black -2px 2px 3px;
}

.logo {
    width: 178px;
    height: auto;
    margin: 1px 1px;
}

.img-carrinho {
    width: 35px;
    position: absolute;
    right: 20px;
    top: 20px;
}

.redes {
    background-color: rgba(0, 0, 0, 0.3);
    width: auto;
    height: 120px;
}

.imagens-redes img{
    position: relative;
    top: 40px;
    left: 40px;
    width: 30px;
    padding: 10px;
}

.h1-redes{
    color: white;
    text-decoration: none;
    text-shadow: -2px 2px 3px black;
    position: relative;
    top: 40px;
    left: 70px;
    font-family: "Inter";
}

.botao{
    display: flex;
    position: relative;
    left: 80%;
    top: -10px
}

.botao a{
    text-decoration: none;
    color: white;
    text-shadow: -2px 2px 3px black;
    background-color: #0095D4;
    padding: 13px;
    border-radius: 15px;
    font-family: "Inter";
}

.texto-botao{
    color: white;
    text-shadow: -2px 2px 3px black;
    font-family: "Inter";
    margin-right: 10px;
}

.content{
    background-color: rgba(0, 0, 0, 0.3);
    width: 90%;
    height: 550px;
    position: relative;
    left: 5%;
    top: 40%;
    margin-top: 143px;
    margin-bottom: 143px;
    border-radius: 40px 40px;
}

.content-images{
    display: table;
    padding-bottom: 25px;
    width: 40px;
    height: auto;
    position: relative;
    left: 60px;
    top: 95px;
}

.content-text{
    color: white;
    text-decoration: none;
    font-family: "Inter";
    font-weight: 400;
    font-size: 24px;
    text-shadow: black -2px 2px 3px;
    position: relative;
    left: 140px;
    top: 45px;
}

.titulo{
    color: white;
    text-decoration: none;
    font-family: "Inter";
    font-weight: 400;
    font-size: 30px;
    text-shadow: black -2px 2px 3px;
    position: relative;
    left: 45%;
    top: 25px;
}