@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Aldrich&display=swap");

* {
    margin: 0;
    padding: 0;
    background-color: transparent;
}

body {
    background-image: url("../assets/bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
    height: 100vh;
    max-width: auto;
    object-fit: contain;
    overflow-x: hidden;
    
}

nav {
    background-color: rgba(0, 0, 0, 0.3);
    width: 100%;
    height: 80px;
}

.nav-list {
    position: absolute;
    right: 100px;
    top: 30px;
}
.nav-list li {
    padding: 20px;
    display: inline;
}

.nav-list a {
    color: white;
    text-decoration: none;
    text-align: center;
    font-family: "Inter";
    font-weight: 400;
    font-size: 18px;
    text-shadow: black -2px 2px 3px;
}

.logo {
    width: 178px;
    height: auto;
    margin: 1px 1px;
}

.img-carrinho {
    width: 35px;
    position: absolute;
    right: 20px;
    top: 20px;
}

.slider {
    margin: 0 auto;
    width: 800px;
    height: 400px;
    overflow: hidden;
}

.slides {
    width: 400%;
    height: 400px;
    display: flex;
}

.slides input {
    display: none;
}

.slide {
    width: 25%;
    position: relative;
    transition: 2s;
}

.slide img {
    position: absolute;
    left: 190px;
    width: 400px;
}

.manual-navigation {
    position: absolute;
    width: 800px;
    margin-top: -40px;
    display: flex;
    justify-content: center;
}

.manual-btn {
    border: 2px solid white;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}

.manual-btn:not(:last-child) {
    margin-right: 40px;
}

.manual-btn:hover {
    background-color: white;
}

#radio1:checked ~ .first {
    margin-left: 0;
}

#radio2:checked ~ .first {
    margin-left: -25%;
}

#radio3:checked ~ .first {
    margin-left: -50%;
}

#radio4:checked ~ .first {
    margin-left: -75%;
}

.navigation-auto div {
    border: 2px solid blue;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}

.navigation-auto {
    position: absolute;
    width: 800px;
    margin-top: 360px;
    display: flex;
    justify-content: center;
}

.navigation-auto div:not(:last-child) {
    margin-right: 40px;
}

#radio1:checked ~ .navigation-auto .auto-btn1 {
    background-color: white;
}

#radio2:checked ~ .navigation-auto .auto-btn2 {
    background-color: white;
}

#radio3:checked ~ .navigation-auto .auto-btn3 {
    background-color: white;
}

#radio4:checked ~ .navigation-auto .auto-btn4 {
    background-color: white;
}

.banner{
    background-color: rgba(0, 0, 0, 0.3);
    width: 1400px;
    height: 500px;
    margin: 50px;
    border-radius: 40px 40px;
}

.logo-banner{
    position: absolute;
    top: 200px;
    left: 150px;
    width: 400px;
}

.banner h1{
    color: white;
    text-decoration: none;
    text-align: center;
    font-family: "Inter";
    font-weight: 400;
    font-size: 18px;
    position: absolute;
    top: 450px;
    left: 125px;
    width: 400px;
    text-shadow: black -2px 2px 3px;
}

.posicao {
    position: absolute;
    right: 110px;
    top: 200px;
}

.features {
    background-color: rgba(0, 0, 0, 0.3);
    width: 1300px;
    height: 700px;
    position: relative;
    margin-right: 100px;
    margin-left: 100px;
    margin-top: 100px;
    margin-bottom: 100px;
    border-radius: 40px 40px;
}

.img-features{
    width: 400px;
    height: auto;
    position: relative;
    top: 280px;
    left: 120px;
}

.h1-features {
    font-size: 30px;
    font-family: "Inter";
    color: white; 
    text-decoration: none;
    text-shadow: black -2px 2px 3px;
    position: relative;
    top: 40px;
    left: 300px;
}

.p-features{
    display: inline;
    text-decoration: none;
    font-family: "Inter";
    color: white;
    text-shadow: black -2px 2px 3px;
    font-size: 15px;
}

.h2-features{
    color: white;
    font-family: "Inter";
    text-shadow: black -2px 2px 3px;
    font-size: 20px;   
}

.titulo-features {
    display: flex;
}

.textos-features {
    width: 500px;
    position: relative;
    top: -120px;
    left: 700px;
}

.linha {
    height: 15px;
    border-color: transparent;
}

.redes {
    background-color: rgba(0, 0, 0, 0.3);
    width: auto;
    height: 120px;
}

.imagens-redes img{
    position: relative;
    top: 40px;
    left: 40px;
    width: 30px;
    padding: 10px;
}

.h1-redes{
    color: white;
    text-decoration: none;
    text-shadow: -2px 2px 3px black;
    position: relative;
    top: 40px;
    left: 70px;
    font-family: "Inter";
}

.botao a{
    position: relative;
    top: -45px;
    left: 1340px;
    text-decoration: none;
    color: white;
    text-shadow: -2px 2px 3px black;
    background-color: #0095D4;
    padding: 13px;
    border-radius: 15px;
    font-family: "Inter";
}

.texto-botao{
    position: relative;
    top: -20px;
    left: 1200px;
    color: white;
    text-shadow: -2px 2px 3px black;
    font-family: "Inter";
}