@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Aldrich&display=swap");

* {
    margin: 0;
    padding: 0;
    background-color: transparent;
}

body {
    background-image: url("../assets/bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;
    max-width: auto;
    object-fit: contain;
}

nav {
    background-color: rgba(0, 0, 0, 0.3);
    width: auto;
    height: 80px;
}

.nav-list {
    position: absolute;
    right: 100px;
    top: 30px;
}
.nav-list li {
    padding: 20px;
    display: inline;
}

.nav-list a {
    color: white;
    text-decoration: none;
    text-align: center;
    font-family: "Inter";
    font-weight: 400;
    font-size: 18px;
    text-shadow: black -2px 2px 3px;
}

.logo {
    width: 178px;
    height: auto;
    margin: 1px 1px;
}

.img-carrinho {
    width: 35px;
    position: absolute;
    right: 20px;
    top: 20px;
}

.slider {
    margin: 0 auto;
    width: 800px;
    height: 400px;
    overflow: hidden;
}

.slides {
    width: 400%;
    height: 400px;
    display: flex;
}

.slides input {
    display: none;
}

.slide {
    width: 25%;
    position: relative;
    transition: 2s;
}

.slide img {
    position: absolute;
    left: 190px;
    width: 400px;
}

.manual-navigation {
    position: absolute;
    width: 800px;
    margin-top: -40px;
    display: flex;
    justify-content: center;
}

.manual-btn {
    border: 2px solid white;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}

.manual-btn:not(:last-child) {
    margin-right: 40px;
}

.manual-btn:hover {
    background-color: white;
}

#radio1:checked ~ .first {
    margin-left: 0;
}

#radio2:checked ~ .first {
    margin-left: -25%;
}

#radio3:checked ~ .first {
    margin-left: -50%;
}

#radio4:checked ~ .first {
    margin-left: -75%;
}

.navigation-auto div {
    border: 2px solid blue;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}

.navigation-auto {
    position: absolute;
    width: 800px;
    margin-top: 360px;
    display: flex;
    justify-content: center;
}

.navigation-auto div:not(:last-child) {
    margin-right: 40px;
}

#radio1:checked ~ .navigation-auto .auto-btn1 {
    background-color: white;
}

#radio2:checked ~ .navigation-auto .auto-btn2 {
    background-color: white;
}

#radio3:checked ~ .navigation-auto .auto-btn3 {
    background-color: white;
}

#radio4:checked ~ .navigation-auto .auto-btn4 {
    background-color: white;
}

.banner{
    background-color: rgba(0, 0, 0, 0.3);
    width: auto;
    height: 500px;
    margin: 100px;
}

.logo-banner{
    position: absolute;
    top: 200px;
    left: 150px;
    width: 400px;
}

.banner h1{
    color: white;
    text-decoration: none;
    text-align: center;
    font-family: "Inter";
    font-weight: 400;
    font-size: 18px;
    position: absolute;
    top: 450px;
    left: 125px;
    width: 400px;
    text-shadow: black -2px 2px 3px;
}

.posicao {
    position: absolute;
    right: 110px;
    top: 200px;
}